<section class="subnav-container contacts-nav row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-8">
          <ul class="list-inline team-filter">
            <li>
              <%= link_to "Lifeblue".upcase, "#", class: "white-link teal-link show-lifeblue" %>
            </li>
            <li>
              <%= link_to "1400", "#", class: "white-link show-1400" %>
            </li>
            <li>
              <%= link_to "Prism".upcase, "#", class: "white-link show-prism" %>
            </li>
            <li>
              <%= link_to "Flux".upcase, "#", class: "white-link show-skyblue" %>
            </li>
          </ul>
        </div>
        <div class="col-xs-4 text-right">
          <ul class="list-inline toggle-views">
            <li>
              <%= link_to "<span class='glyphicon glyphicon-th-large' aria-hidden='true'></span>".html_safe, "#", class: "white-link teal-link show-grid-view" %>
            </li>
            <li>
              <%= link_to "<span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>".html_safe, "#", class: "white-link show-list-view" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>