<% provide(:title, "Contacts") %>

<%= render "static_pages/subnav_contacts" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="contacts-container mtl pbl">
        <div class="contacts-grid-view">
          <div class="container-fluid">
            <div class="row">
              <% @users.each do |user| %>
                <div class="col-md-4 col-sm-6 user-circle" data-user-team="<%= user.team %>">
                  <div class="profile-avatar border-<%= current_availability(user) %>" style="background-image: url('<%= avatar_url(user) %>');">
                    <div class="contact-quick-details-overlay">
                      <div class="contact-quick-details-heading mtl"><%= user.display_name.upcase %></div>
                      <div class="mtxs"><%= link_to user.email, "mailto:#{user.email}" %></div>
                      <div><%= user.phone %></div>
                      <div><%= link_to "View Profile", contacts_profile_path(u: user.id), class: "button button-default button-s mtm" %></div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="contacts-list-view pbl hidden">
          <div class="table users-list container-fluid">
            <% @users.each do |user| %>
              <div class="user row border-<%= current_availability(user) %>" data-user-team="<%= user.team %>">
                <div class="col-lg-3 col-sm-4 user-avatar-name">
                  <div class="inline-block"><%= image_tag avatar_url(user), class: "profile-avatar" %></div>
                  <div class="inline-block user-name"><%= user.display_name.upcase %></div>
                </div>
                <div class="col-lg-5 col-sm-5 mts user-contact">
                  <div class="inline-block user-email"><%= link_to user.email, "mailto:#{user.email}" %></div>
                  <div class="inline-block user-phone"><%= user.phone %></div>
                </div>
                <div class="col-lg-4 col-sm-3 text-right mtxs user-profile">
                  <%= link_to "view profile", contacts_profile_path(u: user.id), class: "button button-default button-s mtxs" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>