<% provide(:title, "#{@user.display_name} | Contacts") %>

<div class="profile-container row">
  <div class="col-lg-12">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="profile-banner" style="background-image: url('<%= !@user.profile_banner.blank? ? @user.profile_banner : "http://placehold.it/1600x400/333333/999999&text=Banner"  %>');">
          </div>
          <div class="profile-avatar border-<%= current_availability(@user) %>" style="background-image: url('<%= avatar_url(@user) %>');">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="profile-information">
            <div class="profile-name">
              <%= @user.display_name.upcase %>
            </div>
            <div class="profile-team">
              <%= @user.team.upcase %>
            </div>
            <div class="profile-email">
              <%= link_to @user.email, "mailto:#{@user.email}" %>
            </div>
            <div class="profile-phone">
              <%= @user.phone %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 profile-quote">
          <%= @user.quote %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 profile-upcoming-events">
          <h3 class="mtn">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> UPCOMING
          </h3>
          <% @upcoming_events = upcoming_events_grouped_by_month(@events) %>
          <% @upcoming_events.each do |month, dates| %>
            <table class="upcoming-events-table">
              <tr>
                <td class="upcoming-events-month">
                  <%= month %>
                </td>
                <td></td>
              </tr>
              <% dates.each do |date, events| %>
                <tr>
                  <td class="upcoming-events-day">
                    <%= date.strftime("%d") %>
                  </td>
                  <td class="upcoming-events-list">
                    <ul class="list-unstyled">
                      <% events.each do |event| %>
                        <li class="event">
                          <div class="inline-block availability <%= event.display_event_availability(date) %>"></div>
                          <div class="inline">
                            <%= event.display_as_text(date, false) %>
                            <%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'><span class='sr-only'>Delete Event?</span></span>".html_safe, event_path(event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" } if event.user == current_user || current_user.is_admin? %>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>