<% provide(:title, "#{current_user.display_name}") %>

<div class="profile-container row">
  <div class="col-lg-12">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="profile-banner edit-profile-banner" style="background-image: url('<%= !current_user.profile_banner.blank? ? current_user.profile_banner : "http://placehold.it/1600x400/333333/999999&text=Banner"  %>');">
            <div class="profile-banner-edit-overlay">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit<br />
              <small>(1600x400 | 3mb)</small>
            </div>
            <div class="profile-banner-pending-overlay">
              Pending Changes
            </div>
          </div>
          <div class="profile-avatar edit-profile-avatar border-<%= current_availability(current_user) %>" style="background-image: url('<%= avatar_url(current_user) %>');">
            <div class="profile-avatar-edit-overlay">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit<br />
              <small>(300x300 | 3mb)</small>
            </div>
            <div class="profile-avatar-pending-overlay">
              Pending Changes
            </div>
          </div>
        </div>
      </div>
      <div class="row pbl">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="profile-form">
            <h1 class="pbm">Manage Account <small>(<%= link_to "view profile", contacts_profile_path(u: current_user.id) %>)</small></h1>
            <%= nested_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
              <%= devise_error_messages! %>
              <fieldset class="mbm">
                <legend>Account Information</legend>
                <div class="form-group">
                  <%= f.label :display_name %>
                  <%= f.text_field :display_name, autofocus: true, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :phone %>
                  <%= f.text_field :phone, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: "form-control" %>
                  <%= f.file_field :profile_banner, class: "hidden profile-banner-field" %>
                  <%= f.file_field :profile_avatar, class: "hidden profile-avatar-field" %>
                </div>
                <div class="form-group">
                  <%= f.label :team %>
                  <%= f.select :team, ["Lifeblue", "1400", "Prism", "Flux"], {}, { class: "form-control" } %>
                </div>
                <div class="form-group">
                  <%= f.label :quote %>
                  <%= f.text_area :quote, class: "form-control" %>
                </div>
              </fieldset>
              <fieldset class="mbm">
                <legend>Update Password <i>(leave blank if you don"t want to change it)</i></legend>
                <div class="form-group">
                  <%= f.label :current_password, "Current Password" %> <i>(we need your current password to confirm your changes)</i>
                  <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation, "Confirm Password" %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>
              </fieldset>
              <fieldset class="mbm">
                <legend>Notifications</legend>
                <div class="table-responsive">
                  <table id="notifications" class="table mbs">
                    <thead>
                      <tr>
                        <th>Notification Type</th>
                        <th>Event Type</th>
                        <th>Team</th>
                        <th>User</th>
                        <th>On/Off</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= f.fields_for :notifications, :wrapper => false do |n| %>
                        <tr class="fields">
                          <td>
                            <div class="form-group mbn">
                              <%= n.select :notification_type, [ ["Email","email"] ], {}, { class: "form-control" } %>
                            </div>
                          </td>
                          <td>
                            <div class="form-group mbn">
                              <%= n.select :event_type, [ ["In"], ["Out"], ["Working from Home"], ["Working from ..."], ["on Vacation"] ], {}, { class: "form-control" } %>
                            </div>
                          </td>
                          <td>
                            <div class="form-group mbn">
                              <%= n.select :team, ["Lifeblue", "1400", "Prism", "Flux"], {}, { class: "form-control" } %>
                            </div>
                          </td>
                          <td>
                            <div class="form-group mbn">
                              <%= n.select :users, User.all.order("display_name ASC").collect { |u| [ u.display_name, u.id ] }, { include_blank: "" }, { class: "form-control" } %>
                            </div>
                          </td>
                          <td>
                            <div class="form-group mbn">
                              <%= n.select :status, [ ["On",true], ["Off",false] ], {}, { class: "form-control" } %>
                            </div>
                          </td>
                          <td>
                            <%= n.link_to_remove "Remove Notification?", class: "button button-danger button-s" %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <%= f.link_to_add "Add Notification", :notifications, :data => { :target => "#notifications" }, class: "button button-dark button-xs" %>
              </fieldset>
              <div class="form-group">
                <%= f.submit "Update", class: "button button-dark" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>