<% provide(:title, 'Sign Up') %>

<div class="authentication-container">
  <div class="pbm">
    <h1 class="mtn">Sign Up</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :display_name, "Display Name" %>
      <%= f.text_field :display_name, autofocus: true, class: 'form-control', placeholder: 'Your Name' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirm Password' %>
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>
    </div>

    <div class="form-group">
      <%= f.submit 'Sign Up', class: 'button button-primary' %>
    </div>
  <% end %>

  <%= render 'devise/shared/links' %>
</div>