<div class="mtm">
  <% if controller_name != "sessions" %>
    Already have an account? <%= link_to "Sign In", new_session_path(resource_name) %><br />
  <% end %>

  <% if devise_mapping.recoverable? && controller_name != "passwords" && controller_name != "registrations" %>
    Forgot your password? <%= link_to "Reset It", new_password_path(resource_name) %><br />
  <% end %>

  <% if devise_mapping.confirmable? && controller_name != "confirmations" %>
    Didn't receive confirmation instructions? <%= link_to "Resend Them", new_confirmation_path(resource_name) %><br />
  <% end %>

  <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
    Didn't receive unlock instructions? <%= link_to "Resend Them", new_unlock_path(resource_name) %><br />
  <% end %>

  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
    <% end %>
  <% end %>
</div>