<section class="subnav-container month-subnav container-fluid" id="expand-target">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-1 text-right">
            <%= link_to "<div class='patty' aria-hidden='true'></div>".html_safe, "#", class: "white-link mbl secondary-header patty-wrapper", "type" => "button", "id" => "expand-trigger" %>
          </div>
          <div class="col-lg-11">
            <h1 class="secondary-header mvn current-month">
              <strong><%= @date.strftime("%B").upcase %></strong> <span class="mls"><%= @date.strftime("%Y") %></span>
            </h1>
            <div class="tabpanel white-links secondary-header container-fluid">
              <ul class="list-unstyled list-inline row year-list" role="tablist">
                <li role="presentation" class="active pbm col-lg-3"><a href="#2015" aria-controls="2015" role="tab" data-toggle="tab">2015</a></li>
                <li role="presentation" class="pbm col-lg-3"><a href="#2016" aria-controls="2016" role="tab" data-toggle="tab">2016</a></li>
                <li role="presentation" class="pbm col-lg-3"><a href="#2017" aria-controls="2017" role="tab" data-toggle="tab">2017</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active container-fluid" id="2015">
                  <ul class="list-unstyled list-inline row mtm">
                    <li class="pbm col-lg-3"><a href="?date=2015-01-01">January</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2015-02-01">Febuary</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2015-03-01">March</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2015-04-01">April</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2015-05-01">May</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2015-06-01">June</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2015-07-01">July</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2015-08-01">August</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2015-09-01">September</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2015-10-01">October</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2015-11-01">November</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2015-12-01">December</a></li>
                  </ul>
                </div>
                <div role="tabpanel" class="tab-pane container-fluid" id="2016">
                  <ul class="list-unstyled list-inline row mtm">
                    <li class="pbm col-lg-3"><a href="?date=2016-01-01">January</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2016-02-01">Febuary</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2016-03-01">March</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2016-04-01">April</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2016-05-01">May</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2016-06-01">June</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2016-07-01">July</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2016-08-01">August</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2016-09-01">September</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2016-10-01">October</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2016-11-01">November</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2016-12-01">December</a></li>
                  </ul>
                </div>
                <div role="tabpanel" class="tab-pane container-fluid" id="2017">
                  <ul class="list-unstyled list-inline row mtm">
                    <li class="pbm col-lg-3"><a href="?date=2017-01-01">January</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2017-02-01">Febuary</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2017-03-01">March</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2017-04-01">April</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2017-05-01">May</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2017-06-01">June</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2017-07-01">July</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2017-08-01">August</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2017-09-01">September</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2017-10-01">October</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2017-11-01">November</a></li>
                    <li class="pbm col-lg-3"><a href="?date=2017-12-01">December</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>