<% provide(:title, "Month View | Calendar") %>

<%= render "calendar/subnav_month" %>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="container-fluid">
      <div id="calendar" class="month-view row">
        <div class="month table-responsive">
          <%= calendar @date do |date| %>
            <span class="date"><%= date.strftime("%d") %></span>
            <ul class="events-list list-unstyled">
              <% @grouped_events = group_events_by_availability(@events, date) %>
              <% @grouped_events.each do |availability, events| %>
                <li class="inline-block availability <%= availability %>"><%= link_to events.length, "#", "tabindex" => 0, "role" => "button", "data-placement" => "top", "data-toggle" => "popover", "data-trigger" => "focus", "title" => "#{date.strftime("%^b")} #{date.strftime("%d")} Events", "data-content" => "events-list", "data-template" => get_calendar_month_popover_data(events, date) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>