if ($(".selected-date:visible").length > 0) {
    $(".selected-date").slideToggle(function() {
        $(".selected-date").html("<%= j render "calendar/selected_date" %>");
        $(".selected-date").slideToggle();
    });
} else {
    $(".selected-date").html("<%= j render "calendar/selected_date" %>");
    $(".selected-date").slideToggle();
}