<% provide(:title, "Week View | Calendar") %>

<section class="subnav-container week-view row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="change-week pull-left text-right">
      <%= link_to "<span class='glyphicon glyphicon-menu-left'></span><span class='arrow-text'> Previous Week</span>".html_safe, { date: @date.prev_week }, class: "arrow left" %>
    </div>
    <div class="change-week pull-right">
      <%= link_to "<span class='arrow-text'>Next Week </span><span class='glyphicon glyphicon-menu-right'></span>".html_safe, { date: @date.next_week }, class: "arrow right" %>
    </div>
  </div>
</section>
<div id="calendar" class="week-view container-fluid clearfix">
  <div class="row full-height full-width mln">
    <div class="col-lg-8 col-lg-offset-2 full-height">
      <div class="current-week table-responsive">
        <%= week @date do |date| %>
          <%= date.strftime("%b %-d").upcase %>
          <ul class="events-list list-unstyled">
            <% @events.each do |event| %>
              <% if event.should_be_displayed(date) %>
                <li class="event <%= event.display_event_availability(date) %>">
                  <div class="inline-block availability <%= event.display_event_availability(date) %>"></div>
                  <div class="inline">
                    <%= event.display_as_text(date) %>
                    <%= link_to "<span class='glyphicon glyphicon-pencil' aria-hidden='true'><span class='sr-only'>Update Event?</span></span>".html_safe, "#", { class: "update-event", data: { "event-id" => event.id } } if event.user == current_user %>
                    <%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'><span class='sr-only'>Delete Event?</span></span>".html_safe, event_path(event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" } if event.user == current_user %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>