<div style="width: 600ps;">
  <div style="width: 600px; height: 200px;">
    <img src="http://sauron.mylifeblue.com/assets/email-header.jpg" />
  </div>
  <div style="margin-top: 25px;">
    <p>Hey <%= @user.display_name %>,</p>

    <p>Just wanted to let you know:</p>
    <p><%= @event_text %></p>

    <p><a href="http://sauron.mylifeblue.com/calendar/week">View Calendar on Sauron</a></p>
  </div>
</div>