<% provide(:title, "Change Your Password") %>

<div class="authentication-container">
  <div class="pbm">
    <h1 class="mtn">Change Your Password</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "New Password" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm New Password" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    </div>

    <div class="form-group">
      <%= f.submit "Update Password", class: "button button-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>