<% provide(:title, "Forgot your Password?") %>

<div class="authentication-container">
  <div class="pbm">
    <h1 class="mtn">Forgot your password?</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
    </div>

    <div class="form-group">
      <%= f.submit "Send Password Reset Instructions", class: "button button-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>