<% flash.each do |key, value| %>
  <% if !value.blank? %>
    <article class="<%= flash_class(key) %> alert-dismissable container-fluid">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= value %>
        </div>
      </div>
    </article>
  <% end %>
<% end %>