<% flash.each do |key, value| %>
  <% if !value.blank? %>
    <article class="<%= flash_class(key) %> alert-dismissable container-fluid">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= value %>
    </article>
  <% end %>
<% end %>