<section class="new-event-form row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="new-event-content">
      <div class="new-event-body">
        <%= form_for @event do |f| %>
          <% if !current_user.is_admin? %>
            <span class="emphasis"><%= current_user.display_name %></span>
            <%= f.hidden_field :user_id, value: current_user.id %>
          <% else %>
            <%= f.select :user_id, User.all.order("display_name ASC").collect { |u| [ u.display_name, u.id ] }, { selected: current_user.id }, { class: "emphasis user" } %>
          <% end %>
          <small>is</small>
          <%= f.select :event_type, options_for_select({"" => "", "In" => "In", "Out" => "Out", "Working from Home" => "Working from Home", "Working from ..." => "Working from", "on Vacation" => "on Vacation"}), {}, { class: "event-type" } %>
          <%= f.text_field :reason, class: "reason hidden", placeholder: "sick, etc" %>
          <%= f.text_field :location, class: "location hidden", placeholder: "Starbucks, etc" %>
          <div class="date-time inline hidden">
            <small>on</small>
            <%= f.text_field :start_date, class: "start-date" %>
            <small>at</small>
            <%= f.select :start_time, options_for_select(@times), { selected: nil }, { class: "start-time" } %>
            <div class="end-date-time inline hidden">
              <small>until</small>
              <%= f.text_field :end_date, class: "end-date" %>
              <small>at</small>
              <%= f.select :end_time, options_for_select(@times), { selected: nil }, { class: "end-time" } %>
            </div>
            <%= hidden_field_tag "event-id", "" %>
            <%= f.submit "Create Event", class: "save-event button button-s button-dark" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    $("#new-event").on("click", function(event) {
      event.preventDefault();

      $(".new-event-form").slideToggle(function() {
        resetForm();
      });
    });

    $(".start-date").datepicker({
      beforeShowDay: $.datepicker.noWeekends
    });
    $(".end-date").datepicker({
      beforeShowDay: $.datepicker.noWeekends
    });

    $(".event-type").on("change", function() {
      resetForm(true);
      switch($(this).val()) {
        case "In":
          $(".date-time").removeClass("hidden");
          $(".start-time").val("");
          break;
        case "Out":
          $(".reason").removeClass("hidden");
          $(".date-time").removeClass("hidden");
          $(".start-time").val("");
          break;
        case "Working from Home":
          $(".date-time").removeClass("hidden");
          $(".start-time").val("");
          break;
        case "Working from":
          $(".location").removeClass("hidden");
          $(".date-time").removeClass("hidden");
          $(".start-time").val("");
          break;
        case "on Vacation":
          $(".date-time").removeClass("hidden");
          $(".start-time").val("");
          break;
        default:
          break;
      }
    });

    $(".start-date").on("change", function() {
      if ($(".event-type").val() != "In") {
        $(".end-date-time").removeClass("hidden");
        $(".end-time").val("");
      }
    });

    var resetForm = function(skipEventType) {
      skipEventType = typeof skipEventType !== 'undefined' ? skipEventType : false;
      if (!skipEventType) {
        $(".event-type").val("");
      }
      $(".reason").addClass("hidden").val("");
      $(".location").addClass("hidden").val("");
      $(".date-time").addClass("hidden");
      $(".start-date").val("");
      $(".start-time").val("");
      $(".end-date-time").addClass("hidden");
      $(".end-date").val("");
      $(".end-time").val("");
      $(".all-day").removeAttr("checked");
      $("#event-id").val("");
      $("#new_event").attr("action","/events");
      $("#new_event .method-type").remove();
      $(".save-event").val("Create Event");
    }

    if ($(".update-event").length > 0) {
      $(".update-event").on("click", function() {
        var url = '/events/' + $(this).data('event-id') + '/edit?id=' + $(this).data('event-id');

        resetForm();

        $.get(url, function(data) {
          $("#event-id").val(data.id);
          $(".save-event").val("Update Event");
          $("#new_event").attr("action","/events/" + data.id);
          if ($("#new_event .method-type").length == 0) {
            $("#new_event > div:hidden:first-child").append('<input class="method-type" name="_method" type="hidden" value="put">');
          }

          switch(data.event_type) {
            default:
            case "In":
              $(".event-type").val(data.event_type);
              $(".date-time").removeClass("hidden");
              $(".start-date").val(data.start_date);
              $(".start-time").val(data.start_time);
              break;
            case "Out":
              $(".event-type").val(data.event_type);
              $(".reason").removeClass("hidden").val(data.reason);
              $(".date-time").removeClass("hidden");
              $(".start-date").val(data.start_date);
              $(".start-time").val(data.start_time);
              if (data.end_time != "12:00 am") {
                $(".end-date-time").removeClass("hidden");
                $(".end-date").val(data.end_date);
                $(".end-time").val(data.end_time);
              }
              break;
            case "Working from Home":
              $(".event-type").val(data.event_type);
              $(".date-time").removeClass("hidden");
              $(".start-date").val(data.start_date);
              $(".start-time").val(data.start_time);
              if (data.end_time != "12:00 am") {
                $(".end-date-time").removeClass("hidden");
                $(".end-date").val(data.end_date);
                $(".end-time").val(data.end_time);
              }
              break;
            case "Working from":
              $(".event-type").val(data.event_type);
              $(".location").removeClass("hidden").val(data.location);
              $(".date-time").removeClass("hidden");
              $(".start-date").val(data.start_date);
              $(".start-time").val(data.start_time);
              if (data.end_time != "12:00 am") {
                $(".end-date-time").removeClass("hidden");
                $(".end-date").val(data.end_date);
                $(".end-time").val(data.end_time);
              }
              break;
            case "on Vacation":
              $(".event-type").val(data.event_type);
              $(".date-time").removeClass("hidden");
              $(".start-date").val(data.start_date);
              $(".start-time").val(data.start_time);
              if (data.end_time != "12:00 am") {
                $(".end-date-time").removeClass("hidden");
                $(".end-date").val(data.end_date);
                $(".end-time").val(data.end_time);
              }
              break;
          }

          $(".new-event-form").slideDown();
        });
      });
    }
  });
</script>