<% provide(:title, "Reporting") %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="container-fluid">
      <div id="reports">
        <h1>Reporting Dashboard</h1>
        <% @events_wfh.each_pair do |u,e| %>
          <h2><%= User.find(u).display_name %> (<%= pluralize(e.count, "Event") %>)</h2>
          <% e.each do |e| %>
            <p><%= e.notification_event_text %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>