<% provide(:title, "Sign In") %>

<div class="pbl">
  <%= image_tag "logo.png" %>
  <h1 class="sr-only">Sign In</h1>
</div>

<div class="container-fluid">
  <div class="flash-messages flash-auth row">
    <div class="col-lg-12">
      <%= render "shared/flash_messages_auth" %>
    </div>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
  </div>

  <div class="form-group mbs">
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group mbs">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "label-no-bold" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Sign In", class: "button button-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>