@import "venders";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";
@import "variables_mixins";
@import "buttons";
@import "margins_paddings";
@import "global";
@import "authentication";

/* =============================================

Application Styles

================================================ */
.main-wrapper {
  color: $text-color;
  .header {
    .main-nav-container {
      background-color: $primary-bg;
      font-size: 14px;
      padding: 5px 0;
      margin-bottom: 0;
      z-index: 900;
      .navbar {
        margin-bottom: 0;
        padding: 15px 0;
        .navbar-header {
          .navbar-toggle {
            border-color: $text-color;
            .icon-bar {
              background-color: $text-color;
            }
          }
          .navbar-brand {
            margin-right: 0;
          }
        }
        .nav {
          text-transform: uppercase;
          li {
            margin-right: 10px;
            a {
              color: $text-color;
              &:hover {
                color: $link-color;
                background-color: $primary-bg;
                text-decoration: none;
              }
            }
            &.active > a {
              color: $link-color;
            }
            &:last-child {
              margin-right: 0;
            }
            &.dropdown {
              .dropdown-toggle {
                height: 40px;
                .caret {
                  color: $text-alt-color;
                  border-top: 6px solid;
                  border-right: 6px solid transparent;
                  border-left: 6px solid transparent;
                }
                .profile-avatar {
                  height: 50px;
                }
                .caret {
                  color: $text-alt-color;
                  border-top: 6px solid;
                  border-right: 6px solid transparent;
                  border-left: 6px solid transparent;
                }
              }
              &.weather {
                margin-top: 12px;
                margin-right: 20px;
                font-size: 18px;
                .dropdown-menu {
                  margin-top: 5px;
                }
                img {
                  height: 25px;
                  margin-right: 5px;
                }
                &:hover {
                  color: $text-color;
                }
              }
              .dropdown-menu {
                min-width: 195px !important;
                left: -120px;
                margin-top: 15px;
                background-color: $primary-bg;
                li {
                  margin: 0;
                  &.forecast-day {
                    padding: 15px 20px;
                    color: $text-color;
                    h4 {
                      margin-top: 0;
                    }
                    img {
                      width: 30px;
                      margin-right: 10px;
                    }
                    &:hover {
                      background-color: $primary-bg;
                    }
                  }
                  a {
                    color: $text-color;
                    padding: 18px 20px;
                  }
                  &:hover {
                    background-color: $input-bg-focus;
                    a {
                      background-color: $input-bg-focus;
                      color: $text-alt-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .new-event-form {
      display: none;
      position: relative;
      -moz-box-shadow: inset 0 8px 8px -8px $primary-bg, inset 0 -8px 8px -8px $primary-bg;
      -webkit-box-shadow: inset 0 8px 8px -8px $primary-bg, inset 0 -8px 8px -8px $primary-bg;
      box-shadow: inset 0 8px 8px -8px $primary-bg, inset 0 -8px 8px -8px $primary-bg;
      background-image: image-url("main-bg.png");
      background-size: cover;
      color: $text-alt-color;
      z-index: 700;
      .new-event-content {
        .new-event-body {
          padding: 15px 25px;
          font-size: 18px;
          line-height: 40px;
          .emphasis {
            font-size: 24px;
            margin-right: 5px;
          }
          .all-day-label {
            font-weight: normal;
          }
          select {
            background: none;
            border: none;
            border-bottom: 1px dashed $text-alt-color;
            margin: 0 5px;
            @include border-radius(0px);
          }
          input[type="text"] {
            width: 115px;
            background: none;
            border: none;
            border-bottom: 1px dashed $text-alt-color;
            margin: 0 5px;
            padding: 0;
            line-height: 30px;
            @include border-radius(0px);
            &.reason, &.location {
              width: 150px;
            }
          }
          input[type="submit"] {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .subnav-container {
    background-color: $trans-white2;
    color: $text-color;
    padding-top: 12px;
    padding-bottom: 5px;
    z-index: 800;
    &.contacts-nav {
      padding: 20px 0;
      ul {
        margin-bottom: 0;
        li {
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
        }
        &.toggle-views {
          li {
            margin-right: 5px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
.subnav-container.month-subnav {
  position: absolute;
  left: 0;
  right: 0;
  height: 49px;
  transition: all 0.5s ease;
  overflow: hidden;
  text-transform: uppercase;
  .year-list {
    border-bottom: 1px solid $light-grey;
  }
  .current-month {
    height: 24px;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  ul li {
      padding-top: 15px;
      transition: all 0.5s ease;
      &.active a {
        color: #62c8c7;
      }
      a.active {
        color: #62c8c7;
      }
    }
  &.expanded {
    min-height: 400px;
    background-color: rgba(58, 69, 79, 0.9);
    .current-month {
      height: 0px;
    }
    ul li {
      padding-top: 0;
    }
  }
}
.patty {
  width: 24px;
  height: 4px;
  margin: -6px 0;
  background: $white;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &:before,
  &:after {
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    background: $white;
    position: absolute;
    z-index: -1;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  &:before {
    top: 0px;
  }
  &:after {
    top: 18px;
  }
}
.expanded .patty {
  background: none;
  &:before {
    top: 14px !important;
    background: #fff !important;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &:after {
    top: 14px !important;
    background: #fff !important;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.patty-wrapper {
    width: 45px;
    height: 45px;
    padding: 15px 16px;
    z-index: 1000;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

/* =============================================

Calendar Styles

================================================ */
#calendar {
  &.month-view {
    margin-top: 79px;
    color: $text-color;
    .month {
      height: 750px;
      padding-right: 0;
      .calendar {
        width: 100%;
        height: 100%;
        .today {
          border-top: 1px solid $light-grey;
          border-bottom: 1px solid $light-grey;
          background: $trans-white;
        }
        th, td {
          width: 20%;
          padding: 10px 15px;
          border-right: 1px solid $light-grey;
          &:nth-child(5) {
            border-right: 0px solid $light-grey;
          }
        }
        th {
          font-size: 20px;
          font-family: "roboto-bold";
        }
        td {
          vertical-align: top;
          &.today {
          }
        }
        .notmonth {
          .date, .events-list {
            display: none;
          }
        }
      }
      .events-list {
        margin-top: 10px;
        .availability {
          width: 30px;
          height: 30px;
          margin-right: 5px;
          text-align: center;
          font-size: 18px;
          font-family: "roboto-bold";
          padding-top: 2px;
          padding-left: -1px;
          @include border-radius(30px);
          &.available {
            background-color: $brand-success;
          }
          &.busy {
            background-color: $brand-warning;
          }
          &.unavailable {
            background-color: $brand-danger;
          }
          a {
            color: $text-color;
          }
        }
      }
    }
  }
  &.week-view {
    display: flex;
    height: 94vh;
    align-items: stretch;
    .fix-padding {
      padding-right: 0;
    }
    .current-week {
      height: 100%;
      width: 100%;
      .calendar {
        height: 100%;
        width: 100%;
        .today {
          position: relative;
          z-index: 75;
          ul {
            z-index: 75;
            position: relative;
          }
          &:after {
            content: "";
            position: absolute;
            top: -150px;
            bottom: 0;
            right: 0;
            width: 100%;
            background: $trans-white;
            z-index: 50;
          }
        }
        td, th {
          font-size: 20px;
          color: $text-color;
          text-align: center;
          border-left: 1px solid $light-grey;
          vertical-align: top;
          &:last-child {
            border-right: 1px solid $light-grey;
          }
        }
        th {
          width: 20%;
          height: 35px;
          padding-top: 110px;
          font-size: 28px;
          font-family: "roboto-bold";
          text-transform: uppercase;
        }
        td {
          &.today {
          }
        }
        .notmonth {
          color: $text-color;
          a {
            color: $link-color;
          }
        }
      }
      .events-list {
        margin-top: 100px;
        padding: 0 15px;
        font-size: 14px;
        text-align: left;
        .event {
          margin-bottom: 7px;
          .glyphicon {
            visibility: hidden;
          }
          &:hover {
            .glyphicon {
              visibility: visible;
            }
          }
          .availability {
            width: 12px;
            height: 12px;
            margin-right: 5px;
            @include border-radius(12px);
            &.available {
              background-color: $brand-success;
            }
            &.busy {
              background-color: $brand-warning;
            }
            &.unavailable {
              background-color: $brand-danger;
            }
          }
        }
      }
    }
  }
}
.change-week {
  height: 100%;
  .arrow {
    color: $text-color;
    font-size: 18px;
    &:hover {
      color: $link-color;
    }
    &.left {
      margin-left: 20px;
      text-align: left;
    }
    &.right {
      margin-right: 20px;
      text-align: right;
    }
  }
  .arrow-text {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: -5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 3;
  }
}

/* =============================================

Contacts Styles

================================================ */
.contacts-container {
  .contacts-grid-view {
    .profile-avatar {
      position: relative;
      width: 300px;
      height: 300px;
      margin: auto;
      margin-bottom: 50px;
      background-size: cover;
      @include border-radius(300px);
      border: 12px solid;
      overflow: hidden;
      &.border-default {
        border-color: $text-color;
      }
      &.border-red {
        border-color: $brand-danger;
      }
      &.border-yellow {
        border-color: $brand-warning;
      }
      &.border-green {
        border-color: $brand-success;
      }
      .contact-quick-details-overlay {
        position: absolute;
        width: 250px;
        top: 100%;
        left: 50%;
        color: $text-color;
        font-size: 16px;
        text-align: center;
        transform: translate(-50%);
        .contact-quick-details-heading {
          font-size: 20px;
        }
      }
      &:hover {
        .contact-quick-details-overlay {
          top: 50%;
          transform: translate(-50%, -50%);
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .5);
        }
      }
    }
  }
  .contacts-list-view {
    .users-list {
      font-size: 16px;
      border-collapse: separate;
      border-spacing: 0 10px;
      .user {
        margin-bottom: 10px;
        padding: 0 15px;
        background-color: rgba(14, 17, 21, .7);
        border-left: 5px solid;
        .profile-avatar {
          height: 50px;
          margin-right: 40px;
        }
        .user-email {
          float: left;
          margin-right: 100px;
        }
        .user-phone {
          float: right;
          margin-left: 100px;
        }
        &.border-default {
          border-color: $text-color;
        }
        &.border-red {
          border-color: $brand-danger;
        }
        &.border-yellow {
          border-color: $brand-warning;
        }
        &.border-green {
          border-color: $brand-success;
        }
      }
    }
  }
}

/* =============================================

Profile Styles

================================================ */
.profile-container {
  background-color: $white;
  background-image: image-url("white-gradient-bg.png");
  background-size: contain;
  background-repeat: repeat-y;
  color: $text-alt-color;
  .profile-banner {
    height: 500px;
    background-size: cover;
    &.edit-profile-banner {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      .profile-banner-edit-overlay {
        position: absolute;
        top: 100%;
        left: 50%;
        color: $text-color;
        font-size: 40px;
        transform: translate(-50%);
        small {
          font-size: 18px;
        }
      }
      .profile-banner-pending-overlay {
        position: absolute;
        top: 100%;
        left: 50%;
        color: $text-color;
        font-size: 40px;
        transform: translate(-50%);
      }
      &.pending-changes {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .5);
        }
      }
      &:hover {
        .profile-banner-edit-overlay {
          top: 50%;
          transform: translate(-50%, -125%);
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .5);
        }
      }
    }
  }
  .profile-avatar {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -5%);
    background-size: cover;
    @include border-radius(300px);
    border: 12px solid;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30);
    &.border-default {
      border-color: $text-color;
    }
    &.border-red {
      border-color: $brand-danger;
    }
    &.border-yellow {
      border-color: $brand-warning;
    }
    &.border-green {
      border-color: $brand-success;
    }
    &.edit-profile-avatar {
      overflow: hidden;
      cursor: pointer;
      z-index: 1000;
      .profile-avatar-edit-overlay {
        position: absolute;
        top: 100%;
        left: 50%;
        color: $text-color;
        font-size: 40px;
        transform: translate(-50%);
        small {
          font-size: 18px;
        }
      }
      .profile-avatar-pending-overlay {
        position: absolute;
        top: 100%;
        left: 50%;
        color: $text-color;
        font-size: 40px;
        transform: translate(-50%);
      }
      &.pending-changes {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .5);
        }
      }
      &:hover {
        .profile-avatar-edit-overlay {
          top: 50%;
          transform: translate(-50%, -40%);
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .5);
        }
      }
    }
  }
  .profile-information {
    margin-top: 120px;
    text-align: center;
    padding-bottom: 45px;
    .profile-name {
      font-family: "roboto-bold";
      font-size: 32px;
    }
    .profile-team {
      color: $lighter-grey;
      font-size: 24px;
    }
    .profile-email {
      margin-top: 30px;
      font-size: 18px;
    }
    .profile-phone {
      font-size: 20px;
    }
  }
  .profile-quote {
    background-image: image-url("quote-bg.jpg");
    background-size: cover;
    padding: 65px 0;
    text-align: center;
    color: $text-color;
    font-size: 28px;
  }
  .profile-upcoming-events {
    background-color: $primary-bg;
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: center;
    color: $text-color;
    h3 {
      font-size: 30px;
      font-family: "roboto-bold";
      span {
        font-size: 24px;
      }
    }
    .upcoming-events-table {
      max-width: 500px;
      margin: auto;
      margin-top: 50px;
      .upcoming-events-month {
        width: 125px;
        padding: 0 25px 0;
        font-size: 22px;
        color: $grey;
        text-align: right;
        font-family: "roboto-bold";
        border-right: 1px solid $grey;
      }
      .upcoming-events-day {
        width: 125px;
        padding: 0 25px 0;
        font-size: 22px;
        color: $lighter-grey;
        text-align: right;
        border-right: 1px solid $grey;
      }
      .upcoming-events-list {
        width: 375px;
        padding: 10px 0 0 25px;
        text-align: left;
        .event {
          margin-bottom: 10px;
          padding-right: 25px;
          .availability {
            width: 12px;
            height: 12px;
            margin-right: 5px;
            @include border-radius(12px);
            &.available {
              background-color: $brand-success;
            }
            &.busy {
              background-color: $brand-warning;
            }
            &.unavailable {
              background-color: $brand-danger;
            }
          }
        }
      }
    }
  }
  .profile-form {
    margin-top: 100px;
    legend {
      color: $text-alt-color;
    }
    .table {
      th {
        padding-top: 0;
        font-size: 16px;
      }
      th, td {
        width: 15%;
        border: none;
        .button {
          padding: 7px 10px;
        }
        &:nth-child(1) {
          width: 20%;
        }
        &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 15%;
        }
        &:nth-child(4) {
          width: 15%;
        }
        &:nth-child(5) {
          width: 15%;
        }
        &:nth-child(6) {
          width: 10%;
        }
      }
    }
  }
  .profile-heading {
    margin: 10px 0 5px;
  }
  .separator {
    margin: 0 10px;
    font-family: "roboto-bold";
    font-weight: bold;
  }
}

/* =============================================

Reporting Styles

================================================ */
#reports {
  margin-top: 75px;
}

/* =============================================

Media Queries

================================================ */
@media screen and (max-width: $break-tablet-landscape) {
  .contacts-container {
    .contacts-grid-view {
      .profile-avatar {
        position: relative;
        width: 250px;
        height: 250px;
      }
    }
    .contacts-list-view {
      .users-list {
        .user {
          .user-email {
            margin-right: 30px;
          }
          .user-phone {
            margin-left: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-tablet-portrait) {
  .contacts-container {
    .contacts-grid-view {
      .profile-avatar {
        position: relative;
        width: 275px;
        height: 275px;
      }
    }
    .contacts-list-view {
      .users-list {
        .user {
          .user-avatar-name {
            margin-top: 10px;
            .profile-avatar {
              margin-right: 15px;
            }
          }
          .user-contact {
            text-align: center;
            .user-email {
              width: 100%;
              margin-right: 0;
            }
            .user-phone {
              width: 100%;
              margin-left: 0;
              padding-bottom: 10px;
            }
          }
          .user-profile {
            .button {
              margin-top: 15px !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-mobile-landscape) {
  .nav {
    .dropdown {
      margin-left: 15px;
      &.weather {
        margin-bottom: 10px;
      }
    }
  }
  .subnav-container.month-subnav {
    &.expanded {
      min-height: 450px;
    }
  }
  #calendar {
    &.week-view {
      height: 100%;
      .table-responsive {
        margin-bottom: 0;
        .calendar {
          th {
            padding-top: 50px;
          }
          .events-list {
            margin-top: 40px;
          }
        }
      }
    }
  }
  .contacts-container {
    .contacts-grid-view {
      .profile-avatar {
        position: relative;
        width: 275px;
        height: 275px;
      }
    }
    .contacts-list-view {
      .users-list {
        .user {
          .user-avatar-name {
            margin-top: 5px;
            text-align: center;
            .profile-avatar {
              height: 125px;
              margin-right: 0;
            }
            .user-name {
              width: 100%;
              margin-top: 10px;
            }
          }
          .user-contact {
            text-align: center;
            .user-email {
              margin-right: 15px;
            }
            .user-phone {
              margin-left: 15px;
            }
          }
          .user-profile {
            text-align: center;
            padding-bottom: 10px;
            .button {
              width: 100%;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  .profile-container {
    .profile-banner {
      height: 250px;
    }
  }
}

@media screen and (max-width: $break-mobile-portrait) {
  .subnav-container.month-subnav {
    &.expanded {
      min-height: 625px;
    }
  }
  .contacts-container {
    .contacts-grid-view {
      .profile-avatar {
        position: relative;
        width: 230px;
        height: 230px;
      }
    }
  }
}