/* =============================================

Authentication Styles

================================================ */
.authentication-wrapper {
  max-width: 400px;
  margin: auto;
  margin-top: 150px;
  padding: 15px;
  .lifeblue-logo {
    text-align: center;
    padding-top: 50px;
  }
}

/* =============================================

Media Queries

================================================ */
@media screen and (max-width: $break-tablet-portrait) {
  .authentication-wrapper {
    margin-top: 20px;
  }
}