/* =============================================

Button Styles

================================================ */
.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  @include border-radius();
}
.button-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}
.button-m {
  padding: 7px 13px;
  font-size: 14px;
  line-height: 1.5;
}
.button-s {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.button-xs {
  padding: 3px 7px;
  font-size: 12px;
  line-height: 1.5;
}
.button-default {
  color: $button-default-color;
  background-color: $button-default-bg;
  border-color: $button-default-border;
  &:hover {
    color: darken($button-default-border, 15%);
    border-color: darken($button-default-border, 15%);
  }
}
.button-dark {
  color: $button-dark-color;
  background-color: $button-dark-bg;
  border-color: $button-dark-border;
  &:hover {
    color: darken($button-dark-border, 15%);
    border-color: darken($button-dark-border, 15%);
  }
}
.button-primary {
  color: $button-primary-color;
  background-color: $button-primary-bg;
  border-color: $button-primary-border;
  &:hover {
    color: darken($button-primary-border, 15%);
    border-color: darken($button-primary-border, 15%);
  }
}
.button-success {
  color: $button-success-color;
  background-color: $button-success-bg;
  border-color: $button-success-border;
  &:hover {
    color: darken($button-success-border, 15%);
    border-color: darken($button-success-border, 15%);
  }
}
.button-info {
  color: $button-info-color;
  background-color: $button-info-bg;
  border-color: $button-info-border;
  &:hover {
    color: darken($button-info-border, 15%);
    border-color: darken($button-info-border, 15%);
  }
}
.button-warning {
  color: $button-warning-color;
  background-color: $button-warning-bg;
  border-color: $button-warning-border;
  &:hover {
    color: darken($button-warning-border, 15%);
    border-color: darken($button-warning-border, 15%);
  }
}
.button-danger {
  color: $button-danger-color;
  background-color: $button-danger-bg;
  border-color: $button-danger-border;
  &:hover {
    color: darken($button-danger-border, 15%);
    border-color: darken($button-danger-border, 15%);
  }
}