/* =============================================

Global Styles

================================================ */
html, body {
  font-family: "roboto-regular";
  color: $text-color;
}
body {
  background: image-url("login-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.alert {
  z-index: 9000;
}
.profile-avatar {
  @include border-radius(100px);
}
.col-lg-12 {
  padding: 0;
}
.table-responsive {
  border: none;
}

/* =============================================

Typography Styles

================================================ */
a {
  color: $link-color;
  &:hover {
    text-decoration: none;
    color: darken($link-color, 15%);
  }
  &:focus {
    color: darken($link-color, 15%);
    outline-width: 0;
    text-decoration: none;
  }
}
a.white-link {
  color: $text-color;
  &:hover {
    text-decoration: none;
    color: darken($link-color, 15%);
  }
}
.white-links a {
  color: $text-color;
  &:hover {
    text-decoration: none;
    color: darken($link-color, 15%);
  }
}
.nav > li.dropdown > a.dropdown-toggle:hover,
.nav > li.dropdown > a.dropdown-toggle:focus {
  background-color: transparent;
}
.navbar-nav > li.dropdown > a.dropdown-toggle {
  padding: 0;
}
a.teal-link {
  color: $link-color;
  &:hover {
    text-decoration: none;
    color: darken($link-color, 15%);
  }
}
.text-teal {
  color: $link-color;
}
strong {
  font-family: "roboto-bold";
}
.secondary-header {
  font-size: 24px;
}

/* =============================================

Popover Styles

================================================ */
.events-popover,
.profile-popover {
  width: 250px;
  background: $primary-bg;
  padding-bottom: 15px;
  color: #dcd5cd;
  @include border-radius(0px);
  .popover-title.teal-link {
    color: $link-color;
    &:hover {
      text-decoration: none;
      color: darken($link-color, 15%);
    }
  }
  .profile-avatar {
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -32px;
    width: 64px;
    height: 64px;
    z-index: 200;
  }
  &.popover.top>.arrow:after {
      border-top-color: $primary-bg;
  }
  &.popover.top>.arrow:before {
    content: "";
    height: 0;
    width: 0;
    bottom: -15px;
    margin-left: -13px;
    border-bottom-width: 0;
    border-color: transparent;
    border-width: 13px;
    border-style: solid;
    position: absolute;
    display: block;
  }
  .popover-title {
    background: $primary-bg;
    color: white;
    border-bottom-width: 0;
    color: #dcd5cd;
  }
}
.profile-popover {
  text-align: center;
  padding-top: 40px;
}
.events-popover {
  text-align: left;
  padding: 10px 20px 20px;
  .popover-title {
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  .popover-content {
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  .popover-events-heading {
    margin: 0;
  }
  .popover-events-list {
    .event {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
#calendar.month-view .month .events-list .events-popover .availability {
    width: 12px;
    height: 12px;
}
#calendar.month-view .month .events-list .availability.available .events-popover .availability {
  background-color: $brand-success;
}
#calendar.month-view .month .events-list .availability.unavailable .events-popover .availability {
  background-color: $brand-danger;
}
#calendar.month-view .month .events-list .availability.busy .events-popover .availability {
  background-color: $brand-warning;
}
.unavailable .popover,
.unavailable .profile-avatar {
  border: 3px solid $brand-danger;
  &.popover.top>.arrow:before {
    border-top-color: $brand-danger;
  }
}
.available .popover,
.available .profile-avatar {
  border: 3px solid $brand-success;
  &.popover.top>.arrow:before {
    border-top-color: $brand-success;
  }
}
.busy .popover,
.busy .profile-avatar {
  border: 3px solid $brand-warning;
  &.popover.top>.arrow:before {
    border-top-color: $brand-warning;
  }
}

/* =============================================

Modal Styles & Bootstrap Overrides

================================================ */
.modal-backdrop.in {
  opacity: .9;
}
.modal-backdrop {
  background-color: #3E4B57;
  top: 92px;
}
.modal-dialog {
  margin: 92px auto;
}
.modal-content {
  background: none;
  box-shadow: none;
  border-width: 0;
  padding-top: 13px;
  .close {
    float: left;
    font-size: 40px;
    color: $text-color;
    opacity: 1;
    line-height: .6;
  }
}
/* =============================================

Error Styles

================================================ */
#error_explanation {
  color: $brand-danger;
}
.field_with_errors {
  color: $brand-danger;
  input {
    border-color: $brand-danger;
  }
}

/* =============================================

Flash Message Styles

================================================ */
.flash-messages {
  min-height: 0;
  z-index: 600;
  &.flash-auth {
    div {
      .alert-dismissable {
        margin-bottom: 25px;
      }
    }
  }
  .alert {
    margin-bottom: 0;
    @include border-radius(0px);
  }
  .alert-dismissable {
    margin-bottom: 0;
    z-index: 600;
  }
}

/* =============================================

Form Styles

================================================ */
.label-no-bold {
  font-weight: normal;
}
legend {
  color: $text-color;
}
.form-group {
  margin-bottom: 25px;
  .form-control {
    font-style: italic;
    color: $text-alt-color;
    background-color: $input-bg;
    &:focus {
      font-style: normal;
      background-color: $input-bg-focus;
    }
  }
}