/* =============================================

Colors

================================================ */
$grey:                      #3f4753;
$light-grey:                #545e67;
$lighter-grey:              #899cb6;
$trans-white:               rgba(255, 255, 255, 0.11);
$trans-white2:              rgba(157, 157, 157, 0.11);
$white:                     #ffffff;

/* =============================================

General

================================================ */
$body-bg:                   #161b22;
$primary-bg:                #0e1115;
$secondary-bg:              #161b22;
$text-color:                #dcd5cd;
$text-alt-color:            #35404c;
$accent-color:              #0ba5fd;
$link-color:                $accent-color;
$input-border-focus:        #0ba5fd;
$border-radius-base:        3px;

/* =============================================

Brand

================================================ */
$brand-default:             $text-color;
$brand-dark:                $text-alt-color;
$brand-primary:             $accent-color;
$brand-success:             #13963f;
$brand-info:                $accent-color;
$brand-warning:             #f3ac28;
$brand-danger:              #c9323a;

/* =============================================

Alerts

================================================ */
$state-success-text:        $brand-success;
$state-success-bg:          lighten($brand-success, 15%);
$state-success-border:      $brand-success;
$state-info-text:           $brand-info;
$state-info-bg:             lighten($brand-info, 15%);
$state-info-border:         $brand-info;
$state-warning-text:        $brand-warning;
$state-warning-bg:          lighten($brand-warning, 15%);
$state-warning-border:      $brand-warning;
$state-danger-text:         $brand-danger;
$state-danger-bg:           lighten($brand-danger, 15%);
$state-danger-border:       $brand-danger;

/* =============================================

Buttons

================================================ */
$button-default-bg:         transparent;
$button-default-border:     $brand-default;
$button-default-color:      $brand-default;
$button-dark-bg:            transparent;
$button-dark-border:        $brand-dark;
$button-dark-color:         $brand-dark;
$button-primary-bg:         transparent;
$button-primary-border:     $brand-primary;
$button-primary-color:      $brand-primary;
$button-success-bg:         transparent;
$button-success-border:     $brand-success;
$button-success-color:      $brand-success;
$button-info-bg:            transparent;
$button-info-border:        $brand-info;
$button-info-color:         $brand-info;
$button-warning-bg:         transparent;
$button-warning-border:     $brand-warning;
$button-warning-color:      $brand-warning;
$button-danger-bg:          transparent;
$button-danger-border:      $brand-danger;
$button-danger-color:       $brand-danger;

/* =============================================

Forms

================================================ */
$input-bg:                  darken(#ffffff, 5%);
$input-bg-focus:            #ffffff;
$input-color:               $text-alt-color;
$input-color-placeholder:   $lighter-grey;

/* =============================================

Breakpoints

================================================ */
$break-tablet-landscape:    1024px;
$break-tablet-portrait:     768px;
$break-mobile-landscape:    525px;
$break-mobile-portrait:     320px;

/* =============================================

Mixins

================================================ */
@mixin border-radius($radius: 3px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin simple-transition($duration: .2s) {
  -o-transition:$duration;
  -ms-transition:$duration;
  -moz-transition:$duration;
  -webkit-transition:$duration;
  transition:$duration;
}