<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-wrapper container-fluid">
    <%= render "shared/header" %>
    <div class="row">
      <div class="col-lg-12 flash-messages">
        <%= render "shared/flash_messages" %>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
