<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="authentication-wrapper">
    <%= yield %>
    <div class="lifeblue-logo">
      <%= link_to image_tag("lifeblue-logo.png"), "http://www.lifeblue.com/", target: "_blank" %>
    </div>
  </div>
</body>
</html>
